html {
	height: 100%;
}

body {
  background: -webkit-linear-gradient(#1A3742, #9EA183) no-repeat; /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#1A3742, #9EA183) no-repeat; /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#1A3742, #9EA183) no-repeat; /* For Firefox 3.6 to 15 */
  background: linear-gradient(#1A3742, #9EA183) no-repeat; /* Standard syntax */  
	height: 100%;
  margin: 0px auto;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  color: #E6E0CB;
  font-size: 3em;
  font-family: 'Raleway';
  font-weight: 300px;
  margin: 0px;
  padding: .5em 0 .5em 0;
}

h3 {
	font-size: 1.5em;
	padding: 0;
	margin: 5px;
}

p {
	line-height: 1.4em;
}

li {
	text-align: left;
}

/*******************************
   HOME
*******************************/

.intro {
  height: 100%;
	width: 500px;
  margin-left: auto;
  margin-right: auto;
	text-align: center;
}

.name {
	text-align: center;
  color: #E6E0CB;
  font-size: 70px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  margin: 0;
  padding-top: 0.3em;
}

.content  {
  text-align: center;
  color: #E6E0CB;
  font-size: 1.1em;
  padding-bottom: 0.3em;
  padding-top: 0.3em;
}

.profile-pic {
	border-radius: 50%;
	height: 140px;
	width: 140px;
	padding: .5em 0;
}

.links {
	display: block;
}

.social-icon {
	height: 30px;
	width: 50px;
	padding: 0 .5em;
}

/*******************************
   NAVIGATION
*******************************/

nav.main {
  height: 100px;
  /*position: absolute;*/
  width: 100%;
  bottom: 0px;
  left: 0px;
  z-index: 999;
  padding-top: 20px;
  margin: 0;
  text-align: center;
}

nav.main ul {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  zoom: 1;
  display: block;
  border-top: 1px solid #E6E0CB;
  text-align: center;
  padding: 0;
}

nav a {
  color: rgb(255, 248, 225);
  text-decoration: none;
}

nav a:hover {
  color: #1C3D4B;
	text-decoration: underline;
}

nav ul {
	list-style: none;
	margin: 0 10px;
	padding: 0;
}

nav li {
	display: inline-block;
	padding: 0 2em 0 2em;
	font-family: 'Open Sans', sans-serif;
}

/*******************************
   SKILLS
*******************************/

.skills {
  height: 100%;
  padding-top: 2.5em;
  background: 
    linear-gradient(
      rgba(25, 57, 68, 0.95), 
      rgba(25, 57, 68, 0.95)
    ),
    url('../img/DSC_0781.JPG') no-repeat;
  background-size: 100% 100%;
  text-align: center;
}

.skills-list {
	color: #E6E0CB;
  text-align: left;
	width: 250px;
	margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-type: none;
  margin: 0;
}

/*******************************
   PROJECTS
*******************************/

.projects {
	background-color: #fff;
	text-align: center;
  margin: 20px 0 50px 0;
}

.projects h2 {
	color: #1C3D4B;
}

.projects-content  {
  text-align: center;
  color: #1C3D4B;
  font-size: 1.1em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

.projects h3 {
	color: #1C3D4B;
}

.projects p {
	color: #1C3D4B;
	text-align: left;
}

.projects a {
	color: #1C3D4B;
}

.projects a:hover {
	color: #FF2400;
}

.projects .row {
	padding: 30px 0 ;
}

.projects-link {
	color: #979C80;
	display: block;
	padding: 10px 0;
}

a:hover {
	color: #1C3D4B;
}

.git-list {
	height: 40px;
	width: 40px;
}

.git-chat {
	height: 40px;
	width: 40px;
}

/*******************************
   CONTACT
*******************************/

.contact {
	color: #E6E0CB;
	text-align: center;
	font-size: 1.1em;
	clear: both;
	height: 100%;


  background: 
    linear-gradient(
      rgba(25, 57, 68, 0.98), 
      rgba(25, 57, 68, 0.98)
    ),
    url('../img/40317763-Vector-constellations-background-Stock-Vector.jpg') no-repeat;
   background-size: 100% 100%;
}

.rrhof {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	margin: 50px 0;
}

.number {
	padding: 20px 0;
}

/*******************************
   Media Queries
*******************************/

@media (max-width: 650px) {
	
	body {
		font-size: .75em;
	}

	header {
		height: 60px;
  }

  h1 {
  	font-size: 1.25em;
  }

  h2 {
  	font-size: 2em;
  }

  h3 {
  	font-size: 1em;
  }

  p {
  	font-size: 0.7em;
  }

  li {
  	text-align: center;
  }
	
	nav a {
		font-size: .75em;
		margin: 0 0 0 0;
	}

	nav li {
		padding: 0 5px 0 5px;
	}

	.intro {
		width: 300px;
	}

	.skills-page: {
		width: 300px;
	}

	.name {
		font-size: 50px;
	}

	.profile-pic {
		height: 80px;
		width: 80px;
	}

	.rrhof {
		height: 80px;
		width: 80px;
	}

	.projects {
		height: 150px;
	}

	.list {
		height: 20px;
		width: 20px;
	}

	.git-list {
		height: 20px;
		width: 20px;
	}

	.git-chat {
		height: 20px;
		width: 20px;
	}

	.social-icon {
		height: 30px;
		width: 30px;
	}
}